*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Sensitive Files
google-services.json
secrets.properties
local.properties
*.jks
*.keystore

# Build Assets
/app/google-services.json
